* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
}

body {
    color: white;
    background-color: #151b27;
    width: 100%;
    height: 100%;
    font-size: 20px;
    overflow: hidden;
}

form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #3a465f;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: calc(100% - 110px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 1em;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    color: #ffd9a0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    font-size: 18px;
    text-align: center;
    height: 50px;
    position: relative;
    width: 100%;
}

.margin {
    margin: 10px;
}

p {
    margin: 5px;
}

span {
    display: block;
    padding-left: 15%;
}

.name {
    background-color: #4148685e;
    padding: 7px;
    border-right: 5px solid #5265c7;
    border-left: 5px solid #5265c7;
    text-align: center;
}

.title {
    background-color: #4148685e;
    padding: 7px;
    border-right: 5px solid #5265c7;
    border-left: 5px solid #5265c7;
    text-align: center;
    margin: 5px;
}

.pp {
    width: auto;
    height: 250px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.content{
    width: 40em;
    height: 25em;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}

.center {
    text-align: center;
}

ul, ol {
    max-width: 90%; 
    margin: auto;
}

@media all and (max-width: 1000px){ 
    .content{
        width: auto;
        height: auto;
    }
    span {
        padding-left: 5%;
    }

    .pp {
        padding-top: 20px;
    }
}

